{% extends 'app/base.html' %}
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css " >
    


<link href={% static 'CSS/design.css' %} type="text/css" rel="stylesheet" />
<link href= '/all.min.css'  type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     
<link rel="preconnect" type="text/css"  href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">


    {% block title %} Contact Us {% endblock %}
    {% block contactactive %} active {% endblock contactactive %}
  
    {% block css%}
    <style>
 .map-container-section {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

.map-container-section iframe {
            left: 0;
            top: 0;
            height: 75%;
            width: 100%;
            position: absolute;
        }
       
    </style>
    {% endblock %}
</head>
{% block body %}

 <!-- Grid column -->
      <div class="container mt-5" >

 
    <!--Section: Content-->
    <section class="dark-grey-text mb-5">
       <!-- Section heading -->
      <h1 style="font-family: Akaya Telivigala ; padding-left:425px" >Contact Us</h1>
      <!-- Section description -->
      

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">

          <!-- Form with header -->
          <div class="card"style="background-color: #99ddff" >
            <div class="card-body">
              <!-- Header -->
              <form action="/contact/" method="post">{% csrf_token %}
              <div class="form-header blue accent-1">
             <h2 style="padding:1px"> <i class="fa fa-address-book" style="font-size:40px; padding-right:16px"></i>Write to Us:</h2>

              </div>
              
              <!-- Body -->
              <div class="md-form">
                <i class="fas fa-pen"></i>
                <label for="form-name"><b>Your Name*</b></label>
                <input type="text" id="form-name" class="form-control"placeholder="Enter Your Name" required >
                
              </div>
              <div class="md-form">
                <i class="fa fa-envelope" ></i>
                <label for="form-email"><b>Your Email*</b></label>
                <input type="email" id="form-email" class="form-control"placeholder="Enter Your Email" required >
                
              </div>
              <div class="md-form">
                <i class="fa fa-phone"></i>
                {% comment %} <input type="text" id="form-Subject" class="form-control"> {% endcomment %}
                <label for="form-Subject"><b>Phone Number*</b></label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" required>
                
              </div>
              <div class="md-form">
                <i class="fa fa-comment"></i>
                <label for="form-text"><b>Send message</b></label>
                <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
          
              </div>
              <div class="text-center" style="margin:20px">
                <button class="btn btn-dark">Submit</button>
              </div>
            </div>
          </div>
          <!-- Form with header -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

          <!--Google map-->
      
          <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=surat&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://whatismyip-address.com/fmovies"></a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
          <!-- Buttons-->
          <div class="row text-center">
            <div class="col-md-3">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-map-marker" style="font-size:20px"></i>
              </a>
              <p>Surat, 94126</p>
              <p class="mb-md-0">India</p>
            </div>
            <div class="col-md-3">
              <a class="btn-floating dark accent-1">
                <i class="fa fa-phone-square" style="font-size:20px"></i>
              </a>
              <p>+ 01 234 567 89</p>
              <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>
            </div>
            <div class="col-md-3">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-envelope" style="font-size:20px"></i>
              </a>
              <p>info@gmail.com</p>
              <p class="mb-0">sale@gmail.com</p>
            </div>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->


  </div>
           
            {% endblock %}
            {% block js %}
            <script>
                {% if thank %}
                alert('Thanks for contacting us. We wil get back to you soon!');
                document.location = "/contact";
                {% endif %}
            </script>
            {% endblock %}